.navbar {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #fff;
  top: 60px;
  right: -1000px;
  width: 40vh;
  height: 100vh;
}

#nav.active {
  right: 0;
}

.bar {
  display: block;
  width: 40px;
  height: 4px;
  margin: 5px;
  background-color: #000;
  border-radius: 5px;
}

#hamburger-menu.clicked .bar:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

#hamburger-menu.clicked .bar:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

#hamburger-menu.clicked .bar:nth-child(2) {
  opacity: 0;
}

.nav-links {
  text-decoration: none;
  margin: 0 25px;
  color: hsl(0, 0%, 41%);
  transition: 0.2s ease;
  padding: 20px 0;
}

.nav-links:hover {
  color: hsl(0, 0%, 8%);
}

@media screen and (min-width: 1024px) {
  #logo {
    margin-right: 30px;
  }

  #nav {
    display: block;
    position: relative;
    height: auto;
    width: auto;
    right: inherit;
    top: inherit;
  }

  .nav-links {
    padding: 0;
  }

  #hamburger-menu {
    display: none;
  }
}
